<h1>New Quilt</h1>
<form action="/quilts" method="post">
  <div>
    Name: <input type="text" name="Quilt">
  </div>
  <div>
    Price: <input type="text" name="Price">
  </div>
  <div>
    Size: <input type="text" name="Size">
  </div>
  <div>
    Description: <input type="text" name="Description">
  </div>
  <input type="submit" value="Create Quilt">
</form>